### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build Tools ###
target/                # Maven
build/                 # Gradle
.gradle/               # Cache do Gradle
**/build/              # Outras pastas build

### Logs & Temp ###
*.log
*.tmp
*.swp
*.swo

### OS files ###
.DS_Store
Thumbs.db
